
html, body{
	font-family: Arial, sans-serif;
	color: hsl(0, 0%, 13%);
	height: 100%;
	/* background: опционально цвет фона */
}

.clearfix{
	content: '';
    display: table;
	width: 100%;
	clear: both;
}



/*----------------
 *   Заголовок 
 *----------------*/
header{
	margin-bottom: 40px;
}

.left_header{
	display: block;
	padding: 0px;
}
.left_header li{
	float: left;
	margin-right: 20px;
	display: block;
}

.right_header{
	display: block;
	padding: 0px;
}

.right_header li{
	float: right;
	margin-left: 20px;
	display: block;
}

container{
	margin-bottom: 40px;
} 



/* .round{
		width: 2em;
		height: 2em;
		border: 1px solid black;
		border-radius: 50%;
} */

/* // этот контейнер нужен будет для выравнивания всех эл по рамке
.container{
	width: 950px;
	margin: 0 auto;
} */




/*-------------------
 *  Список товаров
 *------------------*/

.text_format{
	text-align: center;
	font-size: 16pt; 
}

.product-item { 
	float: left;
	display: block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.product {
	display: block;
	border: 2px solid #b5e9a7;
	border-radius: 3px;
	width: 80px;    /* квадратик */
	height: 80px;
	color: #474747;
} 

.products1{      /* доп отступ для div*/
	margin-left: 40px;
	margin-right: -20px;
}

.cost{
	display: none;
}


.product-item1 { /* для json отдельный класс нужен, чтоб разные обработчики были */
	float: left;
	display: block;
	margin-right: 20px;
	margin-bottom: 20px;
}






/*-------------------
 *  Расширенный вид 
 *------------------*/

.mydiv{
	display:block;
	float:left;
	border:2px solid #000;
}

.extend{
	display:block;
	margin-left: -10px;
	margin-right: 10px;
}

.extend li{
	float: left;
	display: block;
}

.extend li:not(:first-child){
	margin-left: 50px;
	margin-top: 30px;
}

.extend ul:nth-child(2){
	float: left;
	display: block;
	margin-left: 1000px;
}

.extend li:nth-child(4){ /* Сделаем кнопку невидимой до добавления в корзину */
	display: none;
}






/* .extend li:first-child{
	margin-left: 10px; 
} */




/*------------------------------
 *  Всплывающее окно для поиска
 *------------------------------*/

 .modal-title{
	 text-align: center;
 }

 .elmsFindWind{
	background: #bed7dd;
	color: #0a0a0a;
	border-radius: 3px;
	display: block;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	/* font-weight: bold; */
 }

 .inputFindProduct{
	width: 300px;
	margin: 20px 90px;	
	font-size: 18px;
}

.btnFind{
	width: 150px;	
	margin: 20px auto;	
	font-size: 18px;
}

.findElements{
	margin: 20px 30px;
}



/*------------------------------
 *            Корзина
 *------------------------------*/
 

.basket{
	width: 400px;
	display:block;
	float: left;
	border: 2px solid #000;
	
}

.basket li{
	float: left;
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
} 

.basket li:not(:first-child){
	float: left;
	display: block;
	margin-left: 50px;
	margin-top: 80px;
}

.basket li:nth-child(2){
	margin-top: 30px;
}

.basket li:nth-child(3){
	margin-top: 60px;
	margin-left: -40px;
}

.basket li:nth-child(4){
	margin-top: 50px;
	display: block;
}

.basket li:nth-child(5){
	margin-top: 50px;
	display: none;
}

#orderDetails{
	float: left;
	display: none;
	margin-left: -50px;
	width: 350px;
}

#orderDetails li{
	display: block;
	margin-left: -50px;
}




/*------------------------------
 *            Footer
 *------------------------------*/


footer span:first-child{
	margin-left: 50%; 
}
footer span:nth-child(2){
	float: right;
	margin-right: 40px;
}





















